Show Diff
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importação de Produtos</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
    <!-- 
        Estilos personalizados para a página de importação de produtos.
        O arquivo styles.css deve conter as regras de estilo para a página.
    -->
</head>
<body>
    <div class="top-menu">
        <!-- 
            Menu superior da página, contendo ícones de menu, home e informações do usuário.
        -->
        <div class="menu-icon">
            <i class="fas fa-bars"></i> 
        </div>
        <div class="home-icon">
            <a href="/dashboard">
                <i class="fas fa-home"></i> 
            </a>
        </div>
        <% if (user) { %>
        <div class="user-info">
            <!-- 
                Informações do usuário logado, exibindo o nome do usuário e um ícone de perfil.
            -->
            <span><%= user.nome %></span>
            <i class="fas fa-user-circle"></i>
        </div>
        <% } %>
        
    </div>
    <div class="container-import"> 
        <!-- 
            Container principal da página, contendo o formulário de importação de produtos.
        -->
        <div class="form-container"> 
            <form action="/importar" method="post">
                <!-- 
                    Formulário de importação de produtos, contendo um campo de texto para entrada de dados e um botão de envio.
                -->
                <h2>Importar Produtos</h2>
                <textarea name="dados" rows="10" placeholder="Cole os dados dos produtos aqui, de acordo com modelo: Codigo de Barras; Descrição; Quantidade" required></textarea>
                <button type="submit" class="submit-button"> 
                    <i class="fas fa-file-upload"></i> Enviar 
                </button>
            </form>
        </div>
    </div>
    <div class="logout-container">
        <!-- 
            Container do botão de logout, permitindo que o usuário saia da sessão.
        -->
        <a href="/logout" class="logout-btn">Sair</a>
    </div>
    <div class="back-button-container">
        <!-- 
            Container do botão de voltar, permitindo que o usuário retorne à página anterior.
        -->
        <a href="/dashboard" class="logout-btn">Voltar</a>
    </div>
</body>
</html>