<!-- 
  Div que contém o menu superior da aplicação
  Classe "top-menu" é utilizada para estilizar o menu
-->
<div class="top-menu">
    <!-- 
      Div que contém o ícone do menu
      Classe "menu-icon" é utilizada para estilizar o ícone do menu
    -->
    <div class="menu-icon">
        <!-- 
          Ícone de barras que representa o menu
          Utiliza a biblioteca Font Awesome para renderizar o ícone
        -->
        <i class="fas fa-bars"></i> 
    </div>
    <!-- 
      Div que contém o ícone de home
      Classe "home-icon" é utilizada para estilizar o ícone de home
    -->
    <div class="home-icon">
        <!-- 
          Link que redireciona para a página de dashboard
          Utiliza a biblioteca Font Awesome para renderizar o ícone de home
        -->
        <a href="/dashboard">
            <i class="fas fa-home"></i> 
        </a>
    </div>
</div>