<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial de Uso</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="top-menu">
        <!-- Menu superior da página -->
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="home-icon">
            <a href="/dashboard">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <% if (user) { %>
        <div class="user-info">
            <!-- Informações do usuário logado -->
            <span><%= user.nome %></span>
            <i class="fas fa-user-circle"></i>
        </div>
        <% } %>
    </div>

    <div class="tutorial-container">
        <header>
            <h1>Como Usar o Supermercado MEGA</h1>
        </header>
        
        
    </div>

     <!-- Botão de logout -->
     <div class="logout-container">
        <a href="/logout" class="logout-btn">Sair</a>
    </div>

    <!-- Botão de volta -->
    <div class="back-button-container">
        <a href="/dashboard" class="logout-btn">Voltar</a>
    </div>
</body>
</html>
