/* Reset básico e estilos globais */
/* 
 * Este seletor CSS aplica estilos a todos os elementos HTML 
 * para resetar os valores padrão de margin e padding e definir 
 * o box-sizing como border-box.
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 
     * Define o corpo da página como um container flexível 
     * que ocupa toda a altura da viewport.
     */
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3dbe2c2;
    height: 100vh;
}

/* Container do dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 85vh;
}

/* Estilo dos links */
.dashboard-container aside a {
    text-decoration: none; /* Remove a decoração do link */
    display: flex;
    justify-content: center; /* Centraliza o link */
}

/* Estilo geral dos botões */
.btn {
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: #fff; /* Cor do texto */
  background: #007bff; /* Cor de fundo azul */
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
  width: 300px; /* Mantém a largura */
  text-align: center;
}

.btn i {
  margin-right: 20px;
  font-size: 1.5em; /* Tamanho do ícone */
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

/* Separador de ícones */
.btn-sep {
  padding: 25px 60px 25px 100px; /* Ajuste do padding para o ícone */
}

/* Estilo padrão para todos os botões */
.btn:hover {
  background: #0069d9; /* Cor azul ao passar o mouse */
  text-decoration: underline; /* Texto sublinhado ao passar o mouse */
}

.btn:active {
  background: #0056b3; /* Cor azul ao clicar */
  top: 2px;
}
  

.dashboard-login {
    /* 
     * Define os estilos do container de login.
     * Ele terá uma cor de fundo azul, padding de 20px e 
     * uma borda arredondada de 10px.
     */
    background-color: #5799f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin: auto; 
    margin-top: 200px; 
}

.dashboard-login h1 {
    /* 
     * Define a margem inferior do título do container de login.
     */
    margin-bottom: 20px;
}

.input-group {
    /* 
     * Define os estilos do grupo de inputs.
     * Ele terá uma margem inferior de 20px e 
     * centralizará os elementos horizontalmente.
     */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group label {
    /* 
     * Define o espaçamento entre o label e o input.
     */
    margin-right: 10px;
}

.input-group input {
    /* 
     * Define os estilos dos inputs.
     * Eles terão um padding de 10px, borda arredondada de 5px e 
     * uma largura de 100%.
     */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    /* 
     * Define os estilos dos botões em geral.
     * Eles terão uma largura máxima de 200px, padding de 10px e 
     * uma borda arredondada de 5px.
     */
    max-width: 200px;
    padding: 10px 20px;
    background-color: #080808;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

button:hover {
    /* 
     * Define o efeito de hover dos botões.
     * Eles mudarão a cor de fundo para azul quando o mouse passar por cima.
     */
    background-color: #007bff;
}

.forgot-password {
    /* 
     * Define os estilos do link de esqueci a senha.
     * Ele terá uma margem superior de 10px e 
     * centralizará o texto horizontalmente.
     */
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #080808;
}

.forgot-password:hover {
    /* 
     * Define o efeito de hover do link de esqueci a senha.
     * Ele sublinhará o texto quando o mouse passar por cima.
     */
    text-decoration: underline;
}

.parte-azul {
    /* 
     * Define os estilos do container azul.
     * Ele terá uma cor de fundo azul claro, padding de 10px e 
     * centralizará os elementos horizontal e verticalmente.
     */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
}

/* Estilização do menu superior */
.top-menu {
    background-color: #007bff; /* Cor de fundo da barra superior */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff; /* Cor do texto e ícones */
    font-size: 18px; /* Tamanho padrão da fonte */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilização do ícone de home */
.home-icon a {
    color: #ffffff;
    font-size: 24px; /* Tamanho do ícone */
    transition: color 0.3s, transform 0.3s;
}

.home-icon a:hover {
    color: #ffeb3b; /* Mudar a cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta ligeiramente o ícone ao passar o mouse */
}

/* Estilização das informações do usuário */
.user-info {
    display: flex;
    align-items: center;
    font-size: 18px; /* Tamanho da fonte do nome do usuário */
}

.user-info span {
    margin-right: 8px; /* Espaçamento entre o nome e o ícone */
    font-weight: 600;
}

.user-info i {
    font-size: 24px; /* Tamanho do ícone de usuário */
    color: #ffffff;
    transition: color 0.3s;
}

.user-info i:hover {
    color: #ffeb3b; /* Mudar a cor do ícone ao passar o mouse */
}

.container {
    margin-top: 10%;
}

.container h1{
    /* 
     * Define a margem inferior do título do container.
     * Ajuste o valor conforme necessário.
     */
    margin-bottom: 15px;
}

.container h2{
    /* 
     * Define a margem inferior do subtítulo do container.
     * Ajuste o valor conforme necessário.
     */
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    /* 
     * Define os estilos do grupo de formulário.
     * Ele terá uma margem inferior de 20px e 
     * centralizará os elementos horizontalmente.
     */
    margin-bottom: 20px;
    width: 60%;
    height: 50%;
}

.form-group label {
    /* 
     * Define os estilos do label do formulário.
     * Ele terá uma font-weight bold e uma margem inferior de 5px.
     */
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    /* 
     * Define os estilos dos inputs do formulário.
     * Eles terão um padding de 10px, borda arredondada de 5px e 
     * uma largura de 100%.
     */
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    /* 
     * Define os estilos do container de botões.
     * Ele terá uma margem inferior de 40px e 
     * centralizará os elementos horizontalmente.
     */
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/**
 * Estilos para botões de submit
 */
 button[type="submit"] {
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    /**
     * Descrição: Define o estilo padrão para botões de submit.
     * Propriedades:
     *  - width: largura do botão
     *  - margin-top: margem superior do botão
     *  - padding: espaçamento interno do botão
     *  - background-color: cor de fundo do botão
     *  - color: cor do texto do botão
     *  - border: borda do botão
     *  - border-radius: arredondamento das bordas do botão
     *  - cursor: tipo de cursor do botão
     *  - transition: efeito de transição de cor de fundo do botão
     */
}

button[type="submit"]:hover {
    background-color: #0056b3;
    /**
     * Descrição: Define o estilo do botão de submit quando o mouse está sobre ele.
     * Propriedades:
     *  - background-color: cor de fundo do botão quando o mouse está sobre ele
     */
}

/**
 * Estilos para áreas de texto
 */
textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    /**
     * Descrição: Define o estilo padrão para áreas de texto.
     * Propriedades:
     *  - margin-bottom: margem inferior da área de texto
     *  - width: largura da área de texto
     *  - padding: espaçamento interno da área de texto
     *  - border-radius: arredondamento das bordas da área de texto
     *  - border: borda da área de texto
     *  - resize: permite redimensionar a área de texto verticalmente
     */
}

/**
 * Estilos para botões dentro do container de dashboard
 */
.dashboard-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /**
     * Descrição: Define o estilo padrão para botões dentro do container de dashboard.
     * Propriedades:
     *  - width: largura do botão
     *  - padding: espaçamento interno do botão
     *  - background-color: cor de fundo do botão
     *  - color: cor do texto do botão
     *  - border: borda do botão
     *  - border-radius: arredondamento das bordas do botão
     *  - cursor: tipo de cursor do botão
     */
}

button:hover {
    background-color: #0056b3;
    /**
     * Descrição: Define o estilo do botão quando o mouse está sobre ele.
     * Propriedades:
     *  - background-color: cor de fundo do botão quando o mouse está sobre ele
     */
}

/**
 * Estilos para botão de submit
 */
.submit-button {
    margin: 0 auto;
    display: block;
    /**
     * Descrição: Define o estilo do botão de submit.
     * Propriedades:
     *  - margin: margem do botão
     *  - display: tipo de exibição do botão
     */
}

/**
 * Estilos para tabela de estoque
 */
.estoque-table {
    text-align: center;
    max-width: 100%;
    margin: 10px auto 0; /* Ajuste o valor conforme necessário */
    border-collapse: collapse;

    /**
     * Descrição: Define o estilo padrão para tabela de estoque.
     * Propriedades:
     *  - text-align: alinhamento do texto da tabela
     *  - max-width: largura máxima da tabela
     *  - margin: margem da tabela
     *  - border-collapse: comportamento das bordas da tabela
     */
}
.container-estoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Garante espaço entre a tabela e o botão */
    height: 100vh; /* Ajuste conforme necessário */
    padding: 20px;
    box-sizing: border-box;
}


.estoque-table th {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    /**
     * Descrição: Define o estilo para cabeçalho da tabela de estoque.
     * Propriedades:
     *  - background-color: cor de fundo do cabeçalho
     *  - color: cor do texto do cabeçalho
     *  - padding: espaçamento interno do cabeçalho
     *  - text-align: alinhamento do texto do cabeçalho
     */
}

.estoque-table td {
    padding: 3px;
    text-align: center;
    background-color: #a5cbfd;
    /**
     * Descrição: Define o estilo para células da tabela de estoque.
     * Propriedades:
     *  - padding: espaçamento interno das células
     *  - text-align: alinhamento do texto das células
     *  - background-color: cor de fundo das células
     */
}

/**
 * Estilos para container de importação
 */
.container-import {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 20px;
    /**
     * Descrição: Define o estilo do container de importação.
     * Propriedades:
     *  - display: tipo de exibição do container
     *  - flex-direction: direção do layout flexível
     *  - align-items: alinhamento dos itens do container
     *  - justify-content: justificação do conteúdo do container
     *  - height: altura do container
     *  - margin-bottom: margem inferior do container
     */
}

.container-import.form-container {
    width: 80%; /* Define a largura do contêiner do formulário */
    max-width: 500px; /* Define a largura máxima do contêiner do formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /**
     * Descrição: Define o estilo do contêiner do formulário dentro do container de importação.
     * Propriedades:
     *  - width: largura do contêiner do formulário
     *  - max-width: largura máxima do contêiner do formulário
     *  - padding: espaçamento interno do contêiner do formulário
     *  - border: borda do contêiner do formulário
     *  - border-radius: arredondamento das bordas do contêiner do formulário
     *  - box-shadow: efeito de sombra do contêiner do formulário
     */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /**
     * Descrição: Define o estilo do formulário.
     * Propriedades:
     *  - display: tipo de exibição do formulário
     *  - flex-direction: direção do layout flexível
     *  - align-items: alinhamento dos itens do formulário
     */
}

/* Estilo geral para o botão de logout e voltar */
.logout-btn {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    text-decoration: none;
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    display: inline-block;
    transition: all 0.3s;
}

/* Estilo do botão ao passar o mouse */
.logout-btn:hover {
    background-color: #0069d9; /* Cor azul mais escura ao passar o mouse */
    text-decoration: underline; /* Texto sublinhado ao passar o mouse */
}

/* Container do botão de logout (canto inferior esquerdo) */
.logout-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

/* Container do botão de voltar (centralizado na parte inferior) */
.back-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Container do botão de voltar na página de estoque (alinhado à direita) */
.back-button-container-estoque {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* Centraliza a div tutorial-container */
.tutorial-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela inteira */
    text-align: center; /* Centraliza o texto dentro da div */
}

/**
 * Estilos para container de exportação
 */
.container-export {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /**
     * Descrição: Define o estilo do container de exportação.
     * Propriedades:
     *  - display: tipo de exibição do container
     *  - flex-direction: direção do layout flexível
     *  - align-items: alinhamento dos itens do container
     *  - justify-content: justificação do conteúdo do container
     *  - height: altura do container
     */
}

/**
 * Estilos para mensagens de erro
 */
.error-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    position: fixed; /* Altera para posição fixa */
    top: 50px; /* Ajuste a posição superior conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Garante que esteja acima de outros elementos */
    background-color: white; /* Adiciona fundo branco */
    padding: 10px; /* Adiciona padding para melhor visualização */
    border-radius: 5px; /* Adiciona borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
}

/**
 * Estilos para detalhes do produto
 */
.product-details {
    padding: 15px;
    max-width: 380px;
    margin-top: 220px;
    text-align: center;
    /**
     * Descrição: Define o estilo para detalhes do produto.
     * Propriedades:
     *  - padding: espaçamento interno dos detalhes do produto
     *  - max-width: largura máxima dos detalhes do produto
     *  - margin-top: margem superior dos detalhes do produto
     *  - text-align: alinhamento do texto dos detalhes do produto
     */
}

.product-details p {
    margin-bottom: 10px;
    /**
     * Descrição: Define o estilo para parágrafos dentro dos detalhes do produto.
     * Propriedades:
     *  - margin-bottom: margem inferior do parágrafo
     */
}

/**
 * Estilos específicos para mensagens de produto encontrado e não encontrado
 */
 .product-not-found {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

.product-found {
    color: green;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgb(80, 238, 93);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-background {
    background-color: rgba(255, 0, 0, 0.5); /* Fundo vermelho com opacidade */
    color: white; /* Texto branco */
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 1000; /* Garante que o fundo de erro fique sobre outros elementos */
}

.error-background.active {
    display: block; /* Mostra o fundo de erro se a classe 'active' estiver presente */
}
/* styles.css */
.success-message,
.error-message {
    display: none; /* Esconde as mensagens por padrão */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

/* Exibe as mensagens quando há conteúdo */
.success-message:not(:empty),
.error-message:not(:empty) {
    display: block;
}

.update-product.h2 {
    padding: 50px;
}

