<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportar Produtos</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="top-menu">
        <div class="menu-icon">
            <i class="fas fa-bars"></i> <!-- Ícone de menu -->
        </div>
        <div class="home-icon">
            <a href="/dashboard">
                <i class="fas fa-home"></i> <!-- Ícone de home -->
            </a>
        </div>
        <% if (user) { %>
        <div class="user-info">
            <span><%= user.email %></span>
            <i class="fas fa-user-circle"></i>
        </div>
        <% } %>
    </div>
    <div class="container-export"> 
        <div class="form-container"> <!-- Novo contêiner para o formulário -->
            <form action="/exportar" method="post">
                <h2>Exportar Todos os Produtos</h2>
                <button type="submit" class="submit-button"> 
                    <i class="fas fa-file-export"></i> Exportar 
                </button>
            </form>
        </div>
    </div>
    <div class="back-button-container">
        <a href="/dashboard" class="back-button">Voltar</a>
    </div>
    <div class="logout-container">
        <a href="/logout" class="logout-btn">Sair</a>
    </div>
</body>
</html>
