<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="top-menu">
        <div class="menu-icon">
            <i class="fas fa-bars"></i> <!-- Ícone de menu -->
        </div>
        <div class="home-icon">
            <a href="/dashboard">
                <i class="fas fa-home"></i> <!-- Ícone de home -->
            </a>
        </div>
        <% if (user) { %>
        <div class="user-info">
            <span><%= user.email %></span>
            <i class="fas fa-user-circle"></i>
        </div>
        <% } %>   
    </div>
    <div class="container">
        <h2>Adicionar Novo Produto</h2>
        <form action="/inserir" method="post">
            <div class="form-group">
                <label for="codigo_de_barras">Código de Barras:</label>
                <input type="text" id="codigo_de_barras" name="codigo_de_barras" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required>
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="text" id="quantidade" name="quantidade" required>
            </div>
            <div class="button-container">
                <button type="submit">Adicionar Produto</button>
            </div>
        </form>
    </div>
    <div class="back-button-container">
        <a href="/dashboard" class="back-button">Voltar</a>
    </div>
    <div class="logout-container">
        <a href="/logout" class="logout-btn">Sair</a>
    </div>
</body>
</html>
