<!-- menu.ejs -->
<div class="top-menu">
    <div class="menu-icon">
        <i class="fas fa-bars"></i> <!-- Ícone do menu -->
    </div>
    <div class="home-icon">
        <a href="/dashboard">
            <i class="fas fa-home"></i> <!-- Ícone de home -->
        </a>
    </div>
</div>
