<div class="user-info">
    <span><%= user.email %></span>
    <i class="fas fa-user-circle"></i>
    <div class="dropdown-menu">
        <div class="dropdown-item">
            <a href="/logout">Sair</a>
        </div>
    </div>
</div>
